@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,200&family=Montserrat:wght@100&family=Playfair+Display&family=Roboto+Mono:ital,wght@1,300&family=Satisfy&display=swap');

body{
height: 95vh;
display: flex;
justify-content: center;
background-image: linear-gradient(90deg, #282C45, black);
}

.corpo:hover{
    background-color: black;
    color: #FF0068;
    border: 2px solid white ;
    transition: 0.7s;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cabecalho{
    margin-bottom: 15px;
    font-size: 40px;
    color: #FF0068;
}

.corpo{
    border-radius: 15px;
    padding: 15px;
    width: none;
    background-color: #FF0068;
    color: black;
}

p{
    font-size: 20px;
}

.one{
    font-family: 'Imbue', fantasy;
    font-weight: 900;
}

.two{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.tree{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.four{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
}

.five{
font-family: 'Satisfy', cursive;
    font-weight: 900;
}




